.Favourites {
  padding: 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
  max-height: 100%;
  grid-row: 1/2;
  position: relative;
  padding-bottom: 4.5rem;
}

.play-all:hover {
  filter: brightness(102%);
}

.play-all:active {
  scale: 0.99;
  filter: brightness(98%);
}

.Favourites > * {
  padding: 1.5rem;
}

@media (max-width: 768px) {
  .Favourites > * {
    padding: 0;
  }
}

.play-all {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--accent);
  border-radius: 2rem;
  min-width: 6rem;
  border: none;
  font-weight: 600;
  color: var(--text-color-inverted);
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
