.MainPlayer {
  padding: 1rem;
  text-align: center;
}

.album-art-container {
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 3rem;
  pointer-events: none;
  position: relative;
  z-index: 1;
}

.album-art-container-blurred {
  position: absolute;
  inset: 0;
  filter: blur(18px);
  opacity: 0.5;
  z-index: 0;
  pointer-events: none;
}

.player-details {
  justify-content: center;
  align-items: center;
}
.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 2rem;
}

.extra-controls {
  padding-block: 1rem;
}

.main-play-button {
  cursor: pointer;
  background-color: var(--tertiary-background) !important;
}

.seeker-main {
  height: 6px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: var(--accent);
  transition: all 1000ms ease-in-out;
}
