.SheetButton {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.sheet-button-text {
  font-weight: 500;
  color: var(--text-color);
}

.SheetButton:hover {
  background-color: var(--tertiary-background);
}
